table {
	border-spacing:0px;
}
tr {
	line-height:15px;
}
td {
	border:1px solid black;
	width:15px;
	height:15px;
}
input {
	border:0px;
	resize: none;
	padding: 0px;
	margin: 0px;
	width:inherit;
	height:inherit;
	text-align:center;
}

input:focus{
	background-color:yellow;
}

#read {
	display:block;
}
#text {
	visibility: hidden;
	height: 11em;
}

